<!-- jQuery -->
<script>
	$(function() {
		$(".rslides").responsiveSlides();
	});
</script>

<header id="mainHeader">
	<%= link_to image_tag("ApnapegLogo_2.png", class: "apnaPegLogo"), root_path %>
	
	<nav id="mainNavigation">
		<ul id="mainNavigationUL">
			<li><%= link_to "Home", root_path %></li>
			<% @pages.each do | page | %>
				<li><%= link_to page.name, page_path(id: page.id, slug: page.slug) %></li>
			<% end %>
		</ul>
	</nav>
	
	<div id="socialMediaBlock">
		<%= link_to image_tag("facebook_icon.png", size: "40x40", alt: "ApnaPeg Facebook", class: "facebook_icon"), "https://www.facebook.com/pages/ApnaPeg/823461497714054?ref=aymt_homepage_panel" %> 
		<%= link_to image_tag("twitter_icon.png", size: "40x40", alt: "ApnaPeg Twitter", class: "twitter_icon"), "https://twitter.com/ApnaPeg" %> 
		<%= link_to image_tag("instagram_icon.png", size: "40x40", alt: "ApnaPeg Instagram", class: "instagram_icon"), "http://instagram.com/apnapeg/" %> 
	</div>
	
	<div id="mainSlideShow">
	 	<ul class="rslides">
	  		<li><%= image_tag "image1.jpg" %></li>
	  		<li><%= image_tag "image2.jpg" %></li>
	  		<li><%= image_tag "image3.jpg" %></li>
		</ul>
	</div>
	
</header>